.gallery-container {
  width: 500px;
  & img {
    border-radius: 10px;
  }

  &-product {
    width: 500px;
    & img {
      width: 100%;
    }
  }

  &-thumbnails {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    & img {
      width: 105px;
    }
  }
}

.selected-thumbnail {
  border: 3px solid $orange;
}
