.gallery-container {
  width: 500px;
  display: none;

  & img {
    border-radius: 10px;
  }

  &-product {
    width: 500px;
    cursor: pointer;
    & img {
      width: 100%;
    }
  }

  &-thumbnails {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    & img {
      cursor: pointer;
      width: 105px;

      &:hover {
        @include shadow-elevation-medium();
      }
    }
  }

  @media (min-width: 1333px) {
    display: block;
  }
}

.mobile-carousel {
  display: block;
  margin-bottom: 20px;

  & .carousel-control-prev {
    left: 2px;
  }

  & .carousel-control-next {
    right: 2px;
  }

  & > .carousel-control-prev > .carousel-control-prev-icon {
    background-size: 35% 40%;
    padding: 22px;
  }

  & > .carousel-control-next > .carousel-control-next-icon {
    background-size: 35% 40% !important;
    padding: 22px !important;
  }

  @media (min-width: 1333px) {
    display: none;
  }
}

.selected-thumbnail {
  border: 3px solid $orange;
}
